.custom-shape-divider-top-1751776707 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1751776707 svg {
    /* position: relative; */
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-top-1751776707 .shape-fill {
    fill: #DA4C28;
}